section {
  display: flex;
  flex: 1;
  padding: 12px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1;
  margin-bottom: var(--footer-height);
  margin-top: 12px;
  justify-content: center;
}

#deck-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  height: max-content;
}

.deck-card {
  display: flex;
  width: 100%;
  cursor: grab;
}

@media (min-width: 768px) {
  #deck-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 992px) {
  #deck-container {
    grid-template-columns: repeat(8, 1fr);
  }
}
