header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: var(--adventure);
  z-index: 2;
}

#background-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--supernatural);
  font-size: 24px;
  row-gap: 8px;
  text-align: center;
}

#background-container img {
  width: 320px;
  z-index: 0;
}

#search-input-container {
  display: flex;
  width: 100%;
  max-width: 540px;
  align-items: center;
  column-gap: 8px;
  background: var(--action);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid transparent;
  transition: all ease 0.2s;
}

#search-input-container:focus-within {
  border: 1px solid var(--slice-of-life);
}

#search-input-container > i {
  font-size: 20px;
  color: var(--comedy);
  transition: all ease 0.2s;
}

#search-input-container:focus-within > i {
  color: var(--slice-of-life);
}

#search-input {
  background: transparent;
  font-size: 14px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  caret-color: var(--comedy);
  color: var(--slice-of-life);
}

#search-input::placeholder {
  color: var(--comedy);
}

section {
  display: flex;
  flex: 1;
  padding: 12px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1;
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
}

#cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation-animation {
  animation: rotation 1s infinite linear;
}

.card {
  display: flex;
  width: 250px;
  height: 338px;
  position: relative;
  z-index: 1;
  border: 2px solid;
  border-radius: 12px;
}

.card > img {
  border-radius: 12px;
  width: 100%;
  height: auto;
  border: 1px solid var(--action);
}

#loading-container {
  font-size: 20px;
}

#error-container {
  font-size: 20px;
}

dialog {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  border: none;
  backdrop-filter: blur(4px);
  z-index: var(--modal-z-index);
}

#modal-container {
  position: absolute;
  width: 94%;
  max-width: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image {
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  height: auto;
  animation: card-loading 1s linear infinite alternate;
  border: 4px solid;
}

#modal-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#modal-footer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#modal-close-button {
  display: flex;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

#modal-add-card-button {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
}

#modal-close-button i {
  font-size: 24px;
}

/* colorless */

.colorless {
  background: var(--colorless);
  border-color: var(--colorless);
}

.modal-colorless #modal-close-button {
  background: var(--colorless);
  color: var(--darkness);
}

.modal-colorless #modal-add-card-button {
  background: var(--colorless);
  color: var(--darkness);
}

.modal-colorless .modal-image {
  border-color: var(--colorless);
}

/* colorless */

/* darkness*/

.darkness {
  background: var(--darkness);
  border-color: var(--darkness);
}

.modal-darkness #modal-close-button {
  background: var(--darkness);
  color: var(--colorless);
}

.modal-darkness #modal-add-card-button {
  background: var(--darkness);
  color: var(--colorless);
}

.modal-darkness .modal-image {
  border-color: var(--darkness);
}

/* darkness*/

/* dragon */

.dragon {
  background: var(--dragon);
  border-color: var(--dragon);
}

.modal-dragon #modal-close-button {
  background: var(--dragon);
  color: var(--darkness);
}

.modal-dragon #modal-add-card-button {
  background: var(--dragon);
  color: var(--darkness);
}

.modal-dragon .modal-image {
  border-color: var(--dragon);
}

/* dragon */

/* fairy */

.fairy {
  background: var(--fairy);
  border-color: var(--fairy);
}

.modal-fairy #modal-close-button {
  background: var(--fairy);
  color: var(--colorless);
}

.modal-fairy #modal-add-card-button {
  background: var(--fairy);
  color: var(--colorless);
}

.modal-fairy .modal-image {
  border-color: var(--fairy);
}

/* fairy */

/* fighting */

.fighting {
  background: var(--fighting);
  border-color: var(--fighting);
}

.modal-fighting #modal-close-button {
  background: var(--fighting);
  color: var(--colorless);
}

.modal-fighting #modal-add-card-button {
  background: var(--fighting);
  color: var(--colorless);
}

.modal-fighting .modal-image {
  border-color: var(--fighting);
}

/* fighting */

/* fire */

.fire {
  background: var(--fire);
  border-color: var(--fire);
}

.modal-fire .modal-image {
  border-color: var(--fire);
}

.modal-fire #modal-close-button {
  background: var(--fire);
  color: var(--colorless);
}

.modal-fire #modal-add-card-button {
  background: var(--fire);
  color: var(--colorless);
}

/* fire */

/* grass */

.grass {
  background: var(--grass);
  border-color: var(--grass);
}

.modal-grass .modal-image {
  border-color: var(--grass);
}

.modal-grass #modal-close-button {
  background: var(--grass);
  color: var(--colorless);
}

.modal-grass #modal-add-card-button {
  background: var(--grass);
  color: var(--colorless);
}

/* grass */

/* lightning */

.lightning {
  background: var(--lightning);
  border-color: var(--lightning);
}

.modal-lightning .modal-image {
  border-color: var(--lightning);
}

.modal-lightning #modal-close-button {
  background: var(--lightning);
  color: var(--darkness);
}

.modal-lightning #modal-add-card-button {
  background: var(--lightning);
  color: var(--darkness);
}
/* lightning */

/* metal */

.metal {
  background: var(--metal);
  border-color: var(--metal);
}

.modal-metal .modal-image {
  border-color: var(--metal);
}

.modal-metal #modal-close-button {
  background: var(--metal);
  color: var(--darkness);
}

.modal-metal #modal-add-card-button {
  background: var(--metal);
  color: var(--darkness);
}

/* metal */

/* psychic */

.psychic {
  background: var(--psychic);
  border-color: var(--psychic);
}

.modal-psychic .modal-image {
  border-color: var(--psychic);
}

.modal-psychic #modal-close-button {
  background: var(--psychic);
  color: var(--colorless);
}

.modal-psychic #modal-add-card-button {
  background: var(--psychic);
  color: var(--colorless);
}

/* psychic */

/* water */

.water {
  background: var(--water);
  border-color: var(--water);
}

.modal-water .modal-image {
  border-color: var(--water);
}

.modal-water #modal-close-button {
  background: var(--water);
  color: var(--colorless);
}

.modal-water #modal-add-card-button {
  background: var(--water);
  color: var(--colorless);
}

/* water */

#toast-container {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: calc(var(--footer-height) + 30px);
  z-index: var(--toast-z-index);
  width: max-content;
  max-width: 80%;
}

#toast-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  font-size: 16px;
  border-radius: 4px;
}

#toast-container i {
  font-size: 24px;
}

.toast-success {
  background: var(--magic);
  color: var(--supernatural);
}

.toast-error {
  background: var(--drama);
  color: var(--supernatural);
}

.toast-warning {
  background: var(--mystery);
  color: var(--psychological);
}

#toast-container.show {
  display: block;
}
