* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

ul {
  list-style: none;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  --adventure: #242424;
  --action: #2d2d2d;
  --comedy: #838383;
  --slice-of-life: #a7a7a7;
  --drama: #dc0a2d;
  --fantasy: #b5273f;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--adventure);
  background-image: url(/assets/pokeball-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: var(--adventure);
}

#search-input-container {
  display: flex;
  width: 100%;
  max-width: 540px;
  align-items: center;
  column-gap: 8px;
  background: var(--action);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid transparent;
  transition: all ease 0.2s;
}

#search-input-container:focus-within {
  border: 1px solid var(--slice-of-life);
}

#search-input-container > i {
  font-size: 20px;
  color: var(--comedy);
  transition: all ease 0.2s;
}

#search-input-container:focus-within > i {
  color: var(--slice-of-life);
}

#search-input {
  background: transparent;
  font-size: 14px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  caret-color: var(--comedy);
  color: var(--slice-of-life);
}

#search-input::placeholder {
  color: var(--comedy);
}

footer {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  background-color: var(--adventure);
}

#bottom-nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}

#bottom-nav > ul .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-nav i[class^='ph'] {
  font-size: 24px;
  color: var(--slice-of-life);
  transition: all ease 0.2s;
  cursor: pointer;
}

#bottom-nav i[class^='ph']:hover {
  color: var(--fantasy);
}

#bottom-nav .bottom-nav-anchor-active i[class^='ph'] {
  color: var(--drama);
}

section {
  display: flex;
  flex: 1;
  padding: 12px;
  overflow: auto;
  overflow-x: hidden;
}

#cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  width: 250px;
  position: relative;
  z-index: 1;
  border: 2px solid var(--slice-of-life);
  border-radius: 12px;
  background: var(--slice-of-life);
}

.card > img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

#loading-container {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--slice-of-life);
  column-gap: 8px;
  font-size: 20px;
  text-align: center;
  transition: all ease 0.2s;
}

#loading-container > img {
  width: 42px;
}

#error-container {
  color: var(--slice-of-life);
  font-size: 20px;
}

dialog {
  position: relative;
  background-color: transparent;
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  border: none;
  background: transparent;
  backdrop-filter: blur(4px);
}

#modal-container {
  position: absolute;
  width: 90%;
  max-width: 1080px;
  height: 80vh;
  left: 50%;
  top: 50%;
  padding: 12px;
  transform: translate(-50%, -50%);
  background: var(--adventure);
  border-radius: 16px;
  background-image: url(/assets/pokeballs-bg.svg);
  background-position: center;
}
